<h1>写ればOK</h1>
<% if user_signed_in? %>
  <div>
    <%= link_to "詳細", user_path(current_user.id)  %>
    <%= current_user.lastname %>
  </div>

  <div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  
<% else %>
  <div>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>

  <div>
    <%= link_to "ログイン", new_user_session_path %>
  </div>
<% end %>