<div>
  <%= @user.lastname %>
  <%= @user.firstname %>
</div>

<div>
  <%= @user.kana_lastname %>
  <%= @user.kana_firstname %>
</div>

<div>
  <%= @user.prefecture %>
  <%= @user.city %>
  <%= @user.address%>
  <%= @user.building %>
</div>

<div>
  <%= @user.phone %>
</div>

<div>
  <%= link_to "トップページに戻る", root_path %>
</div>