<div>
  <%= "管理者のみ見れるページ" %>
  <%= "予約日" %>
  <%= "11月" %><%= "26日" %><%= "日曜日" %>
</div>

<%= form_with(model: @schedule, local: true) do |form| %>
      <%= form.collection_select(:year_id, Year.all, :id, :name, {}) %>
      <%= form.collection_select(:month_id, Month.all, :id, :name, {}) %>
      <%= form.collection_select(:day_id, Day.all, :id, :name, {}) %>
      <%= form.collection_select(:hour_id, Hour.all, :id, :name, {}) %>
      <%= form.submit "SEND" %>
<% end %>